@media screen and (min-width: 769px){
    .containerLeft, .containerRight{
        width: 50%;
        height: 500px;
        overflow: hidden;
        
    }
    .display-container{
        flex-flow: wrap row;
    }
    .videoS {
        width: 50%;
        
    }
    .videoS iframe{
        width: 100%;
        height: 315px;
    }
    .footerS{
        flex-flow: wrap row;
    }
    .twentyP{
        width: 25%;
        font-size: 16px;
    }
}
@media screen and (min-width: 600px){
    .creates{
        max-width: 550px;
    }
    .design3 h1{
        font-size: 50px;
    }
    
}
@media screen and (min-width: 426px){
    .videoS iframe{
        width: 90%;
        height: 225px;
    }
    
}