* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #0000;
    color:black;
    /*font-family: 'Righteous', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Rampart One', cursive;
    */
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Righteous', cursive; 
    text-shadow:5px 5px 5px #dbbfa8;

}
/*
#99adbf	(153,173,191)
#ec756f	(236,117,111)
#d5d3bf	(213,211,191)
#89ad9f	(137,173,159)
#e7ae7e	(231,174,126)
*/

#mainContainer{
    width: 100%;
    box-sizing: border-box;
    position: inherit;
}

#navbar {
    background-color: #e7ae7e	; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
  }
  
  #navbar a:hover {
    background-color: #d5d3bf;
    color: black;
  }
  .firstText{
      width: 100%;
      height: 195px;
      margin-top: 0;
      text-align: center;
      background-color: #836043;
      padding: 7px;
      font-family: 'Righteous', cursive;
      color: white;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-flow: wrap row;
  }
  .firstText a{
      margin-top: 50px;
      padding: 5px;
  }
  .firstText a:hover{
    opacity: 0.8;
  }
.firstText p {
    padding-right: 10px;
    padding-left: 10px;
}
#firstContainer{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-image: url(../Assets/unfinished-jug.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-flow: wrap column;
    text-align: center;
}
.creates{
    padding: 25px;
    text-shadow:5px 5px 10px #aa784f;
}

  /* last quote*/
  .lastQuote{
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 0;
  }

  .upcomingEvent{
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: antiquewhite;
  }
  .twoContainers{
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: wrap row;
  }
  .containerLeft, .containerRight{
      width: 100%;
      box-sizing: border-box;
      padding: 0;
  }
  .containerRight{
      display: flex;
      flex-flow: wrap column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px;
  }
  .containerRight p{
      font-size: 20px;
      padding: 25px;
  }
  .containerRight h2{
      font-size: 25px;
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
  }
  .gallery{
      width: 120px;
      text-decoration: none;
      background-color: #aa784f;
      color: white;
      padding: 7px;
  }
  .gallery:hover{
      opacity: 0.7;
  }
  .display-container{
      width: 100%;
      box-sizing: border-box;
      padding: 30px;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 25px;
  }
  .videoS iframe{
      width:100%;
  }
  
  .videoS{
      width: 100%;
      box-sizing: border-box;
      display: flex;
        padding: 25px;
        align-items: center;
        justify-content: center;
  }
  .design, .design2, .design3{
      width: 100%;
      height: 500px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap column;
      padding: 20px;
      text-align: center;
      
      background-size: cover;
      background-position: center;
      color: white;
  }
  .design{
    background-image: url(../Assets/pottery2.png);
  }
  .design2{
    background-image: url(../Assets/potteryHands.png);
  }
  .design3{
    background-image: url(../Assets/clays.png);
  }
  .design h2, .design2 h2{
      max-width: 750px;

  }
  .design2 h2{
      font-size: 45px;
      font-family: 'Rampart One', cursive;
  }
  .design3 h1{
      font-size: 30px;
      text-shadow:5px 5px 10px #9e8977;
  }

  /*carusel*/
  
.gallery2 {
    background: #EEE;
  }
  
  .gallery-cell {
      width: 60%;
    /*width: 64%;*/
    height: 400px;
    margin-right: 10px;
    background: #e7ae7e;
    counter-increment: gallery-cell;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 0px;
    font-size: 0px;
    color: white;
  }
  /* footer */
  .footerS, .twentyP{
      width: 100% ;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding:15px;
      background-color: #9e8977;
      color: white;
  }
 
  .twentyP{
      align-items: center;
  }
  .footerS{
      margin-top: 40px;
      text-align: center;
  }
  .twntyThree{
      display: flex;
      justify-content: center;
      flex-direction: row;
  }
  .twntyThree a{
      margin: 7px;
  }
  .twentyP a{
      text-decoration: none;
      font-weight: 200;
      font-family: 'Righteous', cursive;
      color: white;
  }
  
  .lastQuote{
      width: 100%;
      padding: 15px;
      text-align: center;
      background-color: #836043;
      color: white;
      font-size: 16px;
  }
  .lastQuote a{
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-family: 'Righteous', cursive;
  }