* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #0000;
    color:black;
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Roboto', sans-serif;
}
/*
#99adbf	(153,173,191)
#ec756f	(236,117,111)
#d5d3bf	(213,211,191)
#89ad9f	(137,173,159)
#e7ae7e	(231,174,126)
*/

#mainContainer{
    width: 100%;
    box-sizing: border-box;

}

#navbar {
    background-color: #e7ae7e	; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
  }
  
  #navbar a:hover {
    background-color: #d5d3bf;
    color: black;
  }
  .firstText{
      width: 100%;
      margin-top: 50px;
      text-align: center;
      background-color: aquamarine;
      padding: 7px;
      font-family: 'Righteous', cursive;
  }